*{
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body{
  font-family: 'Quicksand', sans-serif;
  line-height: 200%;
}

/*global*/
.flex {
  display: flex;
}

.mobile-icon{
  display: none;
}

.container{
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  z-index: 1;
  color: white;
}

/*header*/

.header {
  height: 3rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: rgba(1, 9, 22, 0.8);
 }

.logo {
  font-size: 2rem;
  margin: 0 1.5rem;
  flex-shrink: 2;
}

nav {
  justify-content: space-around;
  width: 100%;
  flex-shrink: 1;
  margin-left: 3rem;
}


.header a {
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.9;
  color: white;
}

.header a:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-out 0.3s;

}

.header a:active, .header a:visited {
  text-decoration: underline;
  opacity: 1;
}

.header a:visited {
  text-decoration: underline;
  opacity: 1;
}

@media only screen and (max-width: 755px){
.desktop{
    display: none;
  }

  .mobile-icon{
    display: block;
  }

  .mobile-icon:active, .mobile-icon:visited{
    color: #d1f7f9;
  }
}

@media only screen and (max-width: 600px){
  .logo{
    display: none;
  }

  nav {
    margin-left: auto;
    margin-right: auto;
  }
}

/*land*/
.land{
  min-height: 100vh;
  background: linear-gradient(
                       rgba(0, 0, 0, 0.3),
                       rgba(0, 0, 0, 0.3)),
                       url('../../resources/images/jumbotronbig.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: dimgray;
  justify-content: flex-end;
  align-items: center;

}

.text {
  margin-right: 2rem;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35rem;
  }

  .land h1 {
    font-size: 2.5rem;
    margin-bottom: 0.6rem;
  }

  .land p {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }


.button {
  border: 2px solid white;
  width: 10rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.land a {
  text-decoration: none;
  color: white;
}

.land a:hover{
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color ease-out 0.4s;
}

@media only screen and (max-with: 800px){
  .text{
    margin-left: auto;
    margin-right: auto;
  }

  .land{
    align-items: center;
  }

  .land h1{
    border: solid yellow;
    text-align: center;
  }
}

@media only screen and (max-width: 600px){
  .land{
    background: linear-gradient(
                         rgba(0, 0, 0, 0.4),
                         rgba(0, 0, 0, 0.4)),
                         url('../../resources/images/slubnybig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .text{
    margin-left: auto;
    margin-right: auto;
  }

  .text h1{
    text-align: center;
  }

  .land p{
  margin: 0.6rem 1rem 1rem 1rem;
  }
}


/*offer*/
.oferta{
  background-color: #dcdce8;
  color: #212123;
  flex-direction: column;
  min-height: 100vh;
}
.offer{
  /*color: white;*/
  text-align: center;
  font-size: 1.5rem;
  padding-top: 4rem;
  opacity: 0.8;

}
.offerp{
  /*color: #6a6489;*/
  font-size: 1.3rem;
  margin: 1rem auto 2rem auto;
  opacity: 0.8;
  text-align: center;
  width: 75%;

}

.images{
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 1rem;
  justify-content: center;
}

.element{
  margin: 1rem;
  max-width: 20%;
  min-height: 400px;
  flex-direction: column;
  /*color: #6a6489;*/
  align-items: center;
}

.oferta img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 0.9;
}

.oferta a{
  color: #212123;
  text-decoration: none;
  font-weight: bold;
}

.oferta a:hover{
  color: #323234;
  text-decoration: underline;
}

.img-cont{
  overflow: hidden;
    border-radius: 4px;
}

.oferta img:hover{
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
  transition: opacity ease-out 0.6s;
  transition: transform ease-out 0.6s;
}

.textsm {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.textsm h2{
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 100%;
  opacity: 0.8;
}

@media only screen and (max-width: 800px){
  .images{
  /*  flex-direction: column;*/
    margin: 0 0 1rem 0;
    align-items: center;
    justify-content: space-around;
  }

  .element{
    max-width: 40%;
    margin: 0 auto 1rem auto;
    padding: 0;
  }

  .offer{
    padding-top: 3rem;
  }

  .offerp{
    width: 90%;
    margin: 1rem auto 1rem auto;
  }

}

@media only screen and (max-width: 600px) {
  .offer{
    font-size: 1.3rem;
  }

  .offerp, .textsm h2{
    font-size: 1rem;
    margin-top: 0.4rem;
  }
  .element{
    max-width: 100%;
  }

  .oferta img {
    opacity: 1;
    transition: none !important;
    transform: none !important;
  }
}


/*about*/
.about {
  min-height: 100vh;
  background-color: dimgray;
  background: linear-gradient(
                       rgba(0, 0, 0, 0.4),
                       rgba(0, 0, 0, 0.4)),
                       url('../../resources/images/me.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.about p {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
}


@media only screen and (max-width: 800px){
  .about p{
    width: 90%;
  }
}

/*portfolio*/
.portfolio {
  background-color: #b0b0ba;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  padding-top: 5rem;
  text-align: center;

}
.portfolio h1{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #212123;
  opacity: 0.8;
}

.slider{
max-width: 90%;
margin-left: auto;
margin-right: auto;
text-align: center;
border: none;
padding-bottom: 2rem;
}

.slider img{
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/*footer*/
footer {
min-height: 70vh;
background: linear-gradient(
                     rgba(0, 0, 0, 0.8),
                     rgba(0, 0, 0, 0.8)),
                     url('../../resources/images/footer.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
flex-direction: column;
align-items: center;
justify-content: center;
}

.copy{
  margin-top: 4rem;
}

footer a{
  border: solid white 1px;
  border-radius: 3px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

footer a:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color ease-out 0.4s;
}
